<!doctype html>
<html>
  <head>
    <title>棒球轉速估測服務</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="C:\Users\88690\Desktop\flask\static\index.css"> -->

  </head>
  <body>
    <h1 class="center">影片上傳</h1>
    <form method="post" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
    <!-- <form method="post" enctype="multipart/form-data"> -->
      <label class="botton" id="uploadLabel">選擇檔案<input style="display:none" type="file" name="video" id="fileInput"></label>
      <div id="upload_zone" class="upload_zone">
        請將要上傳的圖片拖曳至此
      </div>
      <div id="fileDisplayArea"></div>
      <br>
      <input type="submit" value="上傳" >
    </form>

    <script>
      const dropbox = document.getElementById("upload_zone");
      const uploadLabel = document.getElementById("uploadLabel");
      const fileInput = document.getElementById("fileInput");
      const fileDisplayArea = document.getElementById("fileDisplayArea");

      function handleFileSelect(e) {
        e.stopPropagation();
        e.preventDefault();
        const fileUploader = document.getElementById("fileInput");
        fileUploader.files = e.dataTransfer.files;
        updateDisplay();
      }

      // prevent the default method working
      function dragenter(e) {
        // add the styling to div
        dropbox.classList.add("upload_zone_enter");
        e.stopPropagation();
        e.preventDefault();
      }

      // remove the styling from div
      const dragleave = () => dropbox.classList.remove("upload_zone_enter");

      // prevent the default method working
      function dragover(e) {
        e.stopPropagation();
        e.preventDefault();
      }

      function updateDisplay() {
        const files = document.getElementById("fileInput").files;
        fileDisplayArea.innerHTML = "";
        for (var i = 0; i < files.length; i++) {
          const file = files[i];
          fileDisplayArea.innerHTML += file.name + "<br>";
        }
      }

      function drop(e) {
        e.stopPropagation();
        e.preventDefault();
        const dt = e.dataTransfer;
        const files = dt.files;
        const fileUploader = document.getElementById("fileInput");
        fileUploader.files = files;
        updateDisplay();
        dropbox.classList.remove("upload_zone_enter");
      }

      dropbox.addEventListener("dragenter", dragenter, false);
      dropbox.addEventListener("dragleave", dragleave, false);
      dropbox.addEventListener("dragover", dragover, false);
      dropbox.addEventListener("drop", drop, false);
      // uploadLabel.addEventListener("click", () => document.getElementById("fileInput").click());
      document.getElementById("fileInput").addEventListener("change", updateDisplay);
    </script>
  </body>
</html>
